MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=your_schema_name_here
MYSQL_USER=your_app_db_user_here
MYSQL_PASSWORD=your_app_db_password_here

API_SECRET_KEY=your_secret_key_here

DB_ENGINE=mysql
DB_HOST=database # This must match the name of the database service in your compose.yml file
DB_PORT=3306
DB_CHARSET=utf8mb4

PORT=your_port_here